:root {
  --primary-color: #9b97b5;
  --primary-dark-color: #92879b;
  --transition: all 0.5s ease;
}

.pagination-item {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  margin: 10px;
  width: 42px;
  height: 34px;
  border: 0;
  border-radius: 8px;
  font-size: 1.2rem;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
  box-shadow: 0px 8px 10px 2px rgb(0 0 0 / 30%);
}

.pagination-item:hover {
  background-color: var(--primary-dark-color);
  box-shadow: 0px 6px 15px rgb(0 0 0 / 15%);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0px 5px 10px 4px rgb(0 0 0 / 30%);
}
