.pagination-item {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  margin: 10px;
  min-width: 42px;
  height: 34px;
  border: 0;
  border-radius: 8px;
  font-size: 1.2rem;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
  box-shadow: 0px 6px 8px rgb(0 0 0 / 20%);
}

.pagination-item:hover {
  background-color: var(--primary-dark-color);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.pagination-item-selected {
  background-color: var(--secondary-color);
}

.pagination-item-disabled,
.pagination-item-disabled:hover {
  background-color: var(--gray-middle-color);
  color: var(--text-color);
  transform: scale(1);
  cursor: default;
}
