:root {
  --primary-color: #9b97b5;
  --secondary-color: #b5a897;
  --red-color: #ef394e;
  --gray-light-color: #f7f7f7;
  --gray-dark-color: #acacac;
  --radius: 20px;
  --transition: all 0.5s ease;
}

.card-container {
  margin: 5px;
  height: 459px;
  max-width: 285px;
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0px 6px 15px rgb(0 0 0 / 15%);
  -webkit-transform: scale(0.95); /* WebKit (Chrome, Safari...) */
  -moz-transform: scale(0.95); /* Mozilla */
  -o-transform: scale(0.95); /* Opera */
  -ms-transform: scale(0.95); /* Internet Explorer */
  transform: scale(0.95);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--light-gray);
  text-align: right;
  cursor: pointer;
}

.card-container:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

/* ----- Image (Effects) ----- */

.card-image-container {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  position: relative;
  overflow: hidden;
}

.card-image-container .card-images {
  position: relative;
  padding-bottom: 100%;
}

.card-image-container .card-images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.card-image-container .card-images img:nth-of-type(1) {
  filter: grayscale(0.4) brightness(97%);
}

.card-image-container .card-images img:nth-of-type(2) {
  -webkit-clip-path: ellipse(0 0 at 0 100%);
  clip-path: ellipse(0 0 at 0 100%);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
  -ms-transition: var(--transition);
  transition: var(--transition);
}

.card-container:hover .card-images img:nth-of-type(2) {
  -webkit-clip-path: ellipse(150% 150% at 0 100%);
  clip-path: ellipse(150% 150% at 0 100%);
}

/* ----- Info Icon (effects) ----- */

.info-icon-container {
  background-color: var(--primary-color);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  -moz-transition: all 0.5s, border-radius 2s, top 1s;
  -o-transition: all 0.5s, border-radius 2s, top 1s;
  -ms-transition: all 0.5s, border-radius 2s, top 1s;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.info-icon-container:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 100%;
}

.info-icon-container .info-icon {
  position: absolute;
  right: 85px;
  top: 85px;
  opacity: 1;
  fill: var(--gray-light-color);
  width: 28px;
  height: 28px;
}

.info-icon-container:hover .info-icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.info-icon-container:hover .info-icon-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.info-icon-container .info-icon-content {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, transform 0.8s;
  -moz-transition: opacity 0.2s, transform 0.8s;
  -o-transition: opacity 0.2s, transform 0.8s;
  -ms-transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info-icon-container .info-icon-content .rate,
.info-icon-container .info-icon-content .count {
  color: var(--gray-light-color);
}

.info-icon-container .info-icon-content .rate {
  font-size: 2rem;
  margin: 0 10px;
}

.info-icon-container .info-icon-content .count {
  font-size: 1.5rem;
}

.info-icon-container .info-icon-content .discount {
  direction: rtl;
  margin-top: 10px;
}
.info-icon-container .info-icon-content .discount .discount-percent {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  border: 1px solid var(--red-color);
  border-radius: 30%;
  padding: 6px 6px;
  line-height: 1;
  background-color: var(--red-color);
  margin-left: 2px;
}

/* ----- Card Footer ----- */

.card-footer {
  padding: 10% 10% 0;
}

.price-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.price-old {
  text-decoration: line-through;
  color: var(--gray-dark-color);
  font-size: 1.1rem;
}

.price-new {
  margin: 0 3%;
  font-size: 1.5rem;
  font-weight: 500;
}

.price-toman {
  font-size: 0.9rem;
}
