.home-page-container {
  margin: 5% 0;
}

.home-page-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
